{% extends "base.html" %}

{% block content %}
<div class="container mb-5">
    <!-- Title -->
    <div class="row">
        <div class="col">
            <div class="h3">Manual Review</div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="alert alert-info" role="alert">
                Changes to the database relationships in need of manual review.
            </div>
        </div>
    </div>
    <!-- Panel Review -->
    <div class="row">
        <div class="col">
            <h5>Panels</h5>
            {% if panels %}
            <table class="table table-bordered shadow">
                <thead>
                    <tr>
                        <th scope="col">Panel Name</th>
                        <th scope="col">Panel Version</th>
                        <th scope="col">External ID</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for panel in panels %}
                    <tr>
                        <td><a href="{% url 'panel' panel.id %}">{{ panel.panel_name }}</a></td>
                        <td>{{ panel.panel_version }}</td>
                        <td>{{ panel.external_id }}</td>
                        <td>
                            <div class="d-flex justify-content-around">
                                <form action="{% url 'panel' panel.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="text" class="form-control visually-hidden" name="action"
                                        value="approve">
                                    <button type="submit" class="btn btn-success">Approve</button>
                                </form>
                                <!-- ignoring action on ci-panel link -->
                                <form action="{% url 'panel' panel.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="text" class="form-control visually-hidden" name="action"
                                        value="remove">
                                    <button type="submit" class="btn btn-danger">Remove</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="alert alert-primary" role="alert">
                Nothing pending
            </div>
            {% endif %}
        </div>
    </div>
    <!-- Panel Review End -->

    <div class="my-2"></div>

    <!-- Clinical Indication Review -->
    <div class="row">
        <div class="col">
            <h5>Clinical Indication</h5>
            {% if cis %}
            <table class="table table-bordered shadow">
                <thead>
                    <tr>
                        <th scope="col">Clinical Indication</th>
                        <th scope="col" class="text-nowrap">R Code</th>
                        <th scope="col">Changes</th>
                        <th scope="col" style="width:12%;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ci in cis %}
                    <tr>
                        <td><a href=" {% url 'clinical_indication' ci.id %}">{{ ci.name }}</a></td>
                        <td>{{ ci.r_code }}</td>
                        <td>{{ ci.reason }}</td>
                        <td>
                            <div class="d-flex justify-content-between">
                                <!-- approving new clinical indication or changes to test method -->
                                <form action="{% url 'clinical_indication' ci.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="text" class="form-control visually-hidden" name="action"
                                        value="approve">
                                    <button type="submit" class="btn btn-success btn-sm">Approve</button>
                                </form>
                                <!-- ignoring action on clinical indication -->
                                <form action="{% url 'clinical_indication' ci.id %}" method="POST">
                                    {% csrf_token %}
                                    {% if ci.reason == 'NEW' %}
                                    <input type="text" class="form-control visually-hidden" name="test_method"
                                        value="false">
                                    {% else %}
                                    <input type="text" class="form-control visually-hidden" name="test_method"
                                        value="true">
                                    {% endif %}
                                    <input type="text" class="form-control visually-hidden" name="action"
                                        value="remove">

                                    {% if ci.reason == "NEW" %}
                                    <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                                    {% else %}
                                    <button type="submit" class="btn btn-warning btn-sm">Revert</button>
                                    {% endif %}
                                </form>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="alert alert-primary" role="alert">
                Nothing pending
            </div>
            {% endif %}
        </div>
    </div>
    <!-- Clinical Indication Review End -->

    <div class="my-2"></div>


    <!-- Clinical Indication Panel Review -->
    <div class="row">
        <div class="col">
            <h5>Clinical Indication Panel</h5>
            {% if cips %}
            <table class="table table-bordered shadow">
                <thead>
                    <tr>
                        <th scope="col" style="width:30%;">Clinical Indication</th>
                        <th scope="col" style="width:40%;">Panel</th>
                        <th scope="col" style="width:10%;">Pending</th>
                        <th class="col" style="width:20%;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cip in cips %}
                    <tr>
                        <td><span
                                class="badge text-bg-primary">{{cip.clinical_indication_id__r_code}}</span>&nbsp;&nbsp;<a
                                href="{% url 'clinical_indication' cip.clinical_indication_id %}">{{cip.clinical_indication_id__name}}</a>
                        </td>
                        <td><a href="{% url 'panel' cip.panel_id %}">{{cip.panel_id__panel_name}}</a> <span
                                class="badge text-bg-info">v{{cip.panel_id__panel_version}}</span></td>
                        {% if cip.current %}
                        <td><span class="badge text-bg-success">Activation</span></td>
                        {% else %}
                        <td><span class="badge text-bg-danger">Deactivation</span></td>
                        {% endif %}
                        <td>
                            <div class="d-flex justify-content-around">
                                <!-- approving new ci-panel link -->
                                <form action="{% url 'clinical_indication_panel' cip.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="text" class="form-control visually-hidden" name="action"
                                        value="approve">
                                    <button type="submit" class="btn btn-success btn-sm">Approve</button>
                                </form>
                                <!-- ignoring action on ci-panel link -->
                                <form action="{% url 'clinical_indication_panel' cip.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="text" class="form-control visually-hidden" name="action"
                                        value="revert">
                                    <button type="submit" class="btn btn-warning btn-sm">Revert</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="alert alert-primary" role="alert">
                Nothing pending
            </div>
            {% endif %}
        </div>
    </div>
    <!-- Clinical Indication Panel Review End -->

    <div class="my-2"></div>

    <!-- Clinical Indication SuperPanel Review -->
    <div class="row">
        <div class="col">
            <h5>Clinical Indication SuperPanel</h5>
            {% if cisps %}
            <table class="table table-bordered shadow">
                <thead>
                    <tr>
                        <th scope="col">Clinical Indication</th>
                        <th scope="col" style="width:25%;">SuperPanel</th>
                        <th scope="col">Pending</th>
                        <th class="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cisp in cisps %}
                    <tr>
                        <td><span
                                class="badge text-bg-primary">{{cisp.clinical_indication_id__r_code}}</span>&nbsp;&nbsp;<a
                                href="{% url 'clinical_indication' cisp.clinical_indication_id %}">{{cisp.clinical_indication_id__name}}</a>
                        </td>
                        <td><a href="{% url 'superpanel' cisp.superpanel_id %}">{{cisp.superpanel_id__panel_name}}</a>
                            <span class="badge text-bg-info">v{{cisp.superpanel_id__panel_version}}</span>
                        </td>
                        {% if cisp.current %}
                        <td><span class="badge text-bg-success">Activation</span></td>
                        {% else %}
                        <td><span class="badge text-bg-danger">Deactivation</span></td>
                        {% endif %}
                        <td>
                            <div class="d-flex justify-content-around">
                                <!-- approving new ci-panel link -->
                                <form action="{% url 'clinical_indication_superpanel' cisp.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="text" class="form-control visually-hidden" name="action"
                                        value="approve">
                                    <button type="submit" class="btn btn-success btn-sm">Approve</button>
                                </form>
                                <!-- ignoring action on ci-panel link -->
                                <form action="{% url 'clinical_indication_superpanel' cisp.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="text" class="form-control visually-hidden" name="action"
                                        value="revert">
                                    <button type="submit" class="btn btn-warning btn-sm">Revert</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="alert alert-primary" role="alert">
                Nothing pending
            </div>
            {% endif %}
        </div>
    </div>
    <!-- Clinical Indication SuperPanel Review End -->

    <div class="my-2"></div>

    <!-- Panel Gene Review -->
    <div class="row">
        <div class="col">
            <h5>Panel Gene</h5>
            {% if panel_gene %}
            <table class="table table-bordered shadow">
                <thead>
                    <tr>
                        <th scope="col">Panel</th>
                        <th scope="col">Gene</th>
                        <th scope="col">Reason</th>
                        <th scope="col">Pending</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pg in panel_gene %}
                    <tr>
                        <td class="text-break text-wrap" style="max-width: 17em;"><a
                                href="{% url 'panel' pg.panel_id %}">{{ pg.panel_id__panel_name }}</a></td>
                        <td><a href="{% url 'gene' pg.gene_id %}">{{ pg.gene_id__hgnc_id }}</a></td>
                        <td>{{ pg.reason }}</td>
                        {% if pg.active %}
                        <td>Pending Activation</td>
                        {% else %}
                        <td>Pending Deactivation</td>
                        {% endif %}
                        <td>
                            <div class="d-flex justify-content-around">
                                <!-- approving new ci-panel link -->
                                <form action="{% url 'review' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="text" class="form-control visually-hidden" name="pg_id"
                                        value="{{ pg.id }}">
                                    <input type="text" class="form-control visually-hidden" name="action"
                                        value="approve_pg">
                                    <button type="submit" class="btn btn-success btn-sm">Approve</button>
                                </form>
                                <!-- ignoring action on ci-panel link -->
                                <form action="{% url 'review' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="text" class="form-control visually-hidden" name="pg_id"
                                        value="{{ pg.id }}">
                                    <input type="text" class="form-control visually-hidden" name="action"
                                        value="revert_pg">
                                    <button type="submit" class="btn btn-warning btn-sm">Revert</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="alert alert-primary" role="alert">
                Nothing pending
            </div>
            {% endif %}
        </div>
    </div>
    <!-- Panel Gene Review End -->
</div>
{% endblock %}