{% extends "base.html" %}

{% block content %}
<div class="container mb-5">
    <!-- Title -->
    <div class="row">
        <div class="col">
            <div class="h3">Review</div>
        </div>
    </div>
    <!-- Panel Review -->
    <div class="row">
        <div class="col">
            <h5>Panels</h5>
            {% if panels %}
            <table class="table table-bordered shadow">
                <thead>
                  <tr>
                    <th scope="col">Panel Name</th>
                    <th scope="col">Panel Version</th>
                    <th scope="col">External ID</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                {% for panel in panels %}
                    <tr>
                        <td>{{ panel.panel_name }}</td>
                        <td>{{ panel.panel_version }}</td>
                        <td>{{ panel.external_id }}</td>
                        <td>
                            <div class="d-flex justify-content-around">
                                <form action="{% url 'review' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="text" class="form-control visually-hidden" name="panel_id" value="{{ panel.id }}">
                                    <input type="text" class="form-control visually-hidden" name="action" value="approve_panel">
                                    <button type="submit" class="btn btn-success btn-sm">Approve</button>
                                </form>
                                <!-- ignoring action on ci-panel link -->
                                <form action="{% url 'review' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="text" class="form-control visually-hidden" name="panel_id" value="{{ panel.id }}">
                                    <input type="text" class="form-control visually-hidden" name="action" value="remove_panel">
                                    <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                                </form>   
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="alert alert-primary" role="alert">
                Nothing pending
            </div>
            {% endif %}
        </div>
    </div>
    <!-- Panel Review End -->
    <!-- Clinical Indication Review -->
    <div class="row">
        <div class="col">
            <h5>Clinical Indication</h5>
            {% if cis %}
            <table class="table table-bordered shadow">
                <thead>
                  <tr>
                    <th scope="col">Clinical Indication</th>
                    <th scope="col">R Code</th>
                    <th scope="col">Changes</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                {% for ci in cis %}
                    <tr>
                        <td><a href="{% url 'clinical_indication' ci.id %}">{{ ci.name }}</a></td>
                        <td>{{ ci.r_code }}</td>
                        {% if ci.reason.note %}
                            <td>{{ ci.reason.note }}</td>
                        {% else %}
                            <td>{{ ci.reason }}</td>
                        {% endif %}
                        <td>
                            <div class="d-flex justify-content-around">
                                <form action="{% url 'review' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="text" class="form-control visually-hidden" name="ci_id" value="{{ ci.id }}">
                                    <input type="text" class="form-control visually-hidden" name="action" value="approve_ci">
                                    <button type="submit" class="btn btn-success btn-sm">Approve</button>
                                </form>
                                <!-- ignoring action on ci-panel link -->
                                <form action="{% url 'review' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="text" class="form-control visually-hidden" name="ci_id" value="{{ ci.id }}">
                                    <input type="text" class="form-control visually-hidden" name="action" value="remove_ci">
                                    <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                                </form>   
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="alert alert-primary" role="alert">
                Nothing pending
            </div>
            {% endif %}
        </div>
    </div>
    <!-- Clinical Indication Review End -->
    <!-- Clinical Indication Panel Review -->
    <div class="row">
        <div class="col">
            <h5>Clinical Indication Panel</h5>
            {% if cips %}
            <table class="table table-bordered shadow">
                <thead>
                  <tr>
                    <th scope="col">Clinical Indication</th>
                    <th scope="col">Panel</th>
                    <th scope="col">Pending</th>
                    <th class="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                {% for cip in cips %}
                    <tr>
                        <td><span class="badge text-bg-primary">{{ cip.clinical_indication_id__r_code }}</span>&nbsp;&nbsp;<a href="{% url 'clinical_indication' cip.clinical_indication_id %}">{{ cip.clinical_indication_id__name }}</a></td>
                        <td><a href="{% url 'panel' cip.panel_id %}">{{ cip.panel_id__panel_name }}</a> <span class="badge text-bg-info">v{{ cip.panel_id__panel_version }}</span></td>
                        {% if cip.current %}
                        <td><span class="badge text-bg-success">Activation</span></td>
                        {% else %}
                        <td><span class="badge text-bg-danger">Deactivation</span></td>
                        {% endif %}
                        <td>
                            <div class="d-flex justify-content-around">
                                <!-- approving new ci-panel link -->
                                <form action="{% url 'review' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="text" class="form-control visually-hidden" name="cip_id" value="{{ cip.id }}">
                                    <input type="text" class="form-control visually-hidden" name="action" value="approve_cip">
                                    <button type="submit" class="btn btn-success btn-sm">Approve</button>
                                </form>
                                <!-- ignoring action on ci-panel link -->
                                <form action="{% url 'review' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="text" class="form-control visually-hidden" name="cip_id" value="{{ cip.id }}">
                                    <input type="text" class="form-control visually-hidden" name="action" value="revert_cip">
                                    <button type="submit" class="btn btn-danger btn-sm">Revert</button>
                                </form>                                
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="alert alert-primary" role="alert">
                Nothing pending
            </div>
            {% endif %}
        </div>
    </div>
    <!-- Clinical Indication Panel Review End -->
    <!-- Panel Gene Review -->
    <div class="row">
        <div class="col">
            <h5>Panel Gene</h5>
            {% if pgs %}
            <table class="table table-bordered shadow">
                <thead>
                  <tr>
                    <th scope="col">Panel</th>
                    <th scope="col">Gene</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                {% for pg in pgs %}
                    <tr>
                        <td>{{ pg.panel_id__panel_name }} {{ pg.panel_id__panel_version }}</td>
                        <td>{{ pg.gene_id__hgnc_id }} v{{ pg.gene_id__gene_symbol }}</td>
                        <td>
                            <button type="button" class="btn btn-success btn-sm">Approve</button>
                            <button type="button" class="btn btn-danger btn-sm">Remove</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="alert alert-primary" role="alert">
                Nothing pending
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}