{% extends "base.html" %}

{% block content %}
<div class="container mb-5">
    <!-- Success notification -->
    {% if action_cip or action_ci or action_panel or action_pg %}
    <!-- Depending on what has been approved, show relevant notice -->
    <!-- Clinical Indication Panel -->
    {% if action_cip %}
    {% if approve_bool %}
    <div class="alert alert-success" role="alert">
        <a href="{% url 'clinical_indication' action_cip.clinical_indication_id %}">{{
            action_cip.clinical_indication_id__r_code }} {{ action_cip.clinical_indication_id__name }}</a> to <a
            href="{% url 'panel' action_cip.panel_id %}">{{ action_cip.panel_id__panel_name }} v{{
            action_cip.panel_id__panel_version }}</a> has been approved!
    </div>
    {% else %}
    <div class="alert alert-danger" role="alert">
        <a href="{% url 'clinical_indication' action_cip.clinical_indication_id %}">{{
            action_cip.clinical_indication_id__r_code }} {{ action_cip.clinical_indication_id__name }}</a> to <a
            href="{% url 'panel' action_cip.panel_id %}">{{ action_cip.panel_id__panel_name }} v{{
            action_cip.panel_id__panel_version }}</a> has been reverted!
    </div>
    {% endif %}
    <!-- Clinical Indication -->
    {% elif action_ci %}
    {% if approve_bool %}
    <div class="alert alert-success" role="alert">
        <a href="{% url 'clinical_indication' action_ci.id %}">{{ action_ci.name }}</a> has been approved!
    </div>
    {% else %}
    <div class="alert alert-danger" role="alert">
        Clinical Indication has been removed!
    </div>
    {% endif %}
    <!-- Panel -->
    {% elif action_panel %}
    {% if approve_bool %}
    <div class="alert alert-success" role="alert">
        <a href="{% url 'panel' action_panel.id %}">{{ action_panel.panel_name }}</a> has been approved!
    </div>
    {% else %}
    <div class="alert alert-danger" role="alert">
        Panel has been removed!
    </div>
    {% endif %}
    <!-- Panel Gene -->
    {% elif action_pg %}
    <div class="alert alert-success" role="alert">
        Link between <a href="{% url 'panel' action_pg.panel_id %}">{{ action_pg.panel_id__panel_name }}</a> and <a
            href="{% url 'gene' action_pg.gene_id %}">{{action_pg.gene_id__hgnc_id}}</a> now set to active status:
        {{action_pg.active}}!
    </div>
    {% endif %}
    {% endif %}
    <!-- End notification -->
    <!-- Title -->
    <div class="row">
        <div class="col">
            <div class="h3">Manual Review</div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="alert alert-info" role="alert">
                Changes to the database relationships in need of manual review.
            </div>
        </div>
    </div>
    <!-- Panel Review -->
    <div class="row">
        <div class="col">
            <h5>Panels</h5>
            {% if panels %}
            <table class="table table-bordered shadow">
                <thead>
                    <tr>
                        <th scope="col">Panel Name</th>
                        <th scope="col">Panel Version</th>
                        <th scope="col">External ID</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for panel in panels %}
                    <tr>
                        <td><a href="{% url 'panel' panel.id %}">{{ panel.panel_name }}</a></td>
                        <td>{{ panel.panel_version }}</td>
                        <td>{{ panel.external_id }}</td>
                        <td>
                            <div class="d-flex justify-content-around">
                                <form action="{% url 'panel' panel.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="text" class="form-control visually-hidden" name="action"
                                        value="approve">
                                    <button type="submit" class="btn btn-success">Approve</button>
                                </form>
                                <!-- ignoring action on ci-panel link -->
                                <form action="{% url 'panel' panel.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="text" class="form-control visually-hidden" name="action"
                                        value="remove">
                                    <button type="submit" class="btn btn-danger">Remove</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="alert alert-primary" role="alert">
                Nothing pending
            </div>
            {% endif %}
        </div>
    </div>
    <!-- Panel Review End -->
    <!-- Clinical Indication Review -->
    <div class="row">
        <div class="col">
            <h5>Clinical Indication</h5>
            {% if cis %}
            <table class="table table-bordered shadow">
                <thead>
                    <tr>
                        <th scope="col">Clinical Indication</th>
                        <th scope="col">R Code</th>
                        <th scope="col">Changes</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ci in cis %}
                    <tr>
                        <td><a href="{% url 'clinical_indication' ci.id %}">{{ ci.name }}</a></td>
                        <td>{{ ci.r_code }}</td>
                        {% if ci.reason.note %}
                        <td>{{ ci.reason.note }}</td>
                        {% else %}
                        <td>{{ ci.reason }}</td>
                        {% endif %}
                        <td>
                            <div class="d-flex justify-content-around">
                                <form action="{% url 'clinical_indication' ci.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="text" class="form-control visually-hidden" name="action"
                                        value="approve">
                                    <button type="submit" class="btn btn-success btn-sm">Approve</button>
                                </form>
                                <!-- ignoring action on ci-panel link -->
                                <form action="{% url 'clinical_indication' ci.id %}" method="POST">
                                    {% csrf_token %}
                                    {% if ci.reason == 'NEW' %}
                                    <input type="text" class="form-control visually-hidden" name="test_method"
                                        value="false">
                                    {% else %}
                                    <input type="text" class="form-control visually-hidden" name="test_method"
                                        value="true">
                                    {% endif %}
                                    <input type="text" class="form-control visually-hidden" name="action"
                                        value="remove">
                                    <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="alert alert-primary" role="alert">
                Nothing pending
            </div>
            {% endif %}
        </div>
    </div>
    <!-- Clinical Indication Review End -->
    <!-- Clinical Indication Panel Review -->
    <div class="row">
        <div class="col">
            <h5>Clinical Indication Panel</h5>
            {% if cips %}
            <table class="table table-bordered shadow">
                <thead>
                    <tr>
                        <th scope="col">Clinical Indication</th>
                        <th scope="col">Panel</th>
                        <th scope="col">Pending</th>
                        <th class="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cip in cips %}
                    <tr>
                        <td><span
                                class="badge text-bg-primary">{{cip.clinical_indication_id__r_code}}</span>&nbsp;&nbsp;<a
                                href="{% url 'clinical_indication' cip.clinical_indication_id %}">{{cip.clinical_indication_id__name}}</a>
                        </td>
                        <td><a href="{% url 'panel' cip.panel_id %}">{{cip.panel_id__panel_name}}</a> <span
                                class="badge text-bg-info">v{{cip.panel_id__panel_version}}</span></td>
                        {% if cip.current %}
                        <td><span class="badge text-bg-success">Activation</span></td>
                        {% else %}
                        <td><span class="badge text-bg-danger">Deactivation</span></td>
                        {% endif %}
                        <td>
                            <div class="d-flex justify-content-around">
                                <!-- approving new ci-panel link -->
                                <form action="{% url 'clinical_indication_panel' cip.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="text" class="form-control visually-hidden" name="action"
                                        value="approve">
                                    <button type="submit" class="btn btn-success btn-sm">Approve</button>
                                </form>
                                <!-- ignoring action on ci-panel link -->
                                <form action="{% url 'clinical_indication_panel' cip.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="text" class="form-control visually-hidden" name="action"
                                        value="revert">
                                    <button type="submit" class="btn btn-danger btn-sm">Revert</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="alert alert-primary" role="alert">
                Nothing pending
            </div>
            {% endif %}
        </div>
    </div>
    <!-- Clinical Indication Panel Review End -->
    <!-- Panel Gene Review -->
    <div class="row">
        <div class="col">
            <h5>Panel Gene</h5>
            {% if panel_gene %}
            <table class="table table-bordered shadow">
                <thead>
                    <tr>
                        <th scope="col">Panel</th>
                        <th scope="col">Gene</th>
                        <th scope="col">Reason</th>
                        <th scope="col">Pending</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pg in panel_gene %}
                    <tr>
                        <td class="text-break text-wrap" style="max-width: 17em;"><a
                                href="{% url 'panel' pg.panel_id %}">{{ pg.panel_id__panel_name }}</a></td>
                        <td><a href="{% url 'gene' pg.gene_id %}">{{ pg.gene_id__hgnc_id }}</a></td>
                        <td>{{ pg.reason }}</td>
                        {% if pg.active %}
                        <td>Pending Activation</td>
                        {% else %}
                        <td>Pending Deactivation</td>
                        {% endif %}
                        <td>
                            <div class="d-flex justify-content-around">
                                <!-- approving new ci-panel link -->
                                <form action="{% url 'review' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="text" class="form-control visually-hidden" name="pg_id"
                                        value="{{ pg.id }}">
                                    <input type="text" class="form-control visually-hidden" name="action"
                                        value="approve_pg">
                                    <button type="submit" class="btn btn-success btn-sm">Approve</button>
                                </form>
                                <!-- ignoring action on ci-panel link -->
                                <form action="{% url 'review' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="text" class="form-control visually-hidden" name="pg_id"
                                        value="{{ pg.id }}">
                                    <input type="text" class="form-control visually-hidden" name="action"
                                        value="revert_pg">
                                    <button type="submit" class="btn btn-warning btn-sm">Revert</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="alert alert-primary" role="alert">
                Nothing pending
            </div>
            {% endif %}
        </div>
    </div>
    <!-- Panel Gene Review End -->
</div>
{% endblock %}