{% extends "base.html" %}

{% block content %}
<div class="container mb-5">
    <!-- title -->
    <div class="row">
        <div class="col">
            <h3>Edit Panel Gene</h3>
            <p class="text-muted">This will create a new custom Panel based on the Reference Panel rather than adding the gene to the existing Reference Panel.<br>This will not link existing old Panel's clinical indication to the new custom Panel.</p>
        </div>
    </div>
    <!-- end title -->
    
    <!-- panel info -->
    <div class="row mt-2">
        <div class="col">
            <div class="h3">Reference Panel</div>
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">{{ panel.panel_name }}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">database id: {{ panel.id }}</h6>
                    <p class="card-text">
                        external id: {{ panel.external_id }} <br>
                        panel source: {{ panel.panel_source }} <br>
                        {% if panel.panel_version %}
                        panel version: {{ panel.panel_version }} <br>
                        {% else %}
                        panel version: None <br>
                        {% endif %}
                        {% if panel.test_directory %}
                        test directory: <span class="badge text-bg-success">{{ panel.test_directory }}</span><br>
                        {% else %}
                        test directory: <span class="badge text-bg-danger">{{ panel.test_directory }}</span><br>
                        {% endif %}
                        {% if panel.custom %}
                        custom: <span class="badge text-bg-success">{{ panel.custom }}</span><br>
                        {% else %}
                        custom: <span class="badge text-bg-danger">{{ panel.custom }}</span><br>
                        {% endif %}
                        created: {{ panel.created }}<br>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="h3">New Panel Detail</div>
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">Custom Panel [ABCDE] based on {{ panel.panel_name }}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">database id: TBD</h6>
                    <p class="card-text">
                        external id: None <br>
                        panel source: web <br>
                        panel version: None <br>
                        test directory: None <br>
                        custom: <span class="badge text-bg-success">True</span><br>
                        created: TBD <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- end panel info -->

    <form action="{% url 'gene_edit' panel.id  %}" method="POST">
        {% csrf_token %}
        <!-- current linked gene -->
        <div class="row my-2">
            <div class="col">
                <h3>Current Genes</h3>
                <table class="table table-bordered shadow">
                    <thead class="table-info">
                        <tr>
                        <th scope="col">HGNC ID</th>
                        <th scope="col">Gene Symbol</th>
                        <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for gene in linked_genes %}
                        <tr>
                            <td>{{ gene.gene_id__hgnc_id }}</td>
                            <td>{{ gene.gene_id__gene_symbol }}</td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="{{ gene.gene_id }}" name="genes" checked>
                                </div>
                            </td>
                        </tr>
                        {% endfor %} 
                    </tbody>
                </table>   
            </div>
        </div>
        <!-- current linked gene end -->
    
        <!-- other genes -->
        <div class="row my-2">
            <div class="col">
                <h3>Other Genes</h3>
                <table class="table pt-3 mt-2" id="geneSelectionTable">
                    <thead class="table-success">
                        <tr>
                        <th scope="col">HGNC ID</th>
                        <th scope="col">Gene Symbol</th>
                        <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for gene in all_genes %}
                        <tr>
                            <td>{{ gene.hgnc_id }}</td>
                            <td>{{ gene.gene_symbol }}</td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="{{ gene.id }}" name="genes">
                                </div>
                            </td>
                        </tr>
                        {% endfor %} 
                    </tbody>
                </table>   
            </div>
        </div>
        <!-- other linked genes end -->
        <button type="submit" class="btn btn-primary btn-sm p-1 my-2">Submit</button>
    </form>
</div>
{% endblock %}

{% block script %}
<script>
  $(document).ready(function () {
    var table = $('#geneSelectionTable').DataTable();

    // deal with issue on form not submitting all checked values due to
    // how datatable works
    // https://stackoverflow.com/questions/33240409/how-to-submit-checkboxes-from-all-pages-with-jquery-datatables
    $('form').on('submit', function(e){
      var $form = $(this);

      // Iterate over all checkboxes in the table
      table.$('input[type="checkbox"]').each(function(){
          // If checkbox doesn't exist in DOM
          if(!$.contains(document, this)){
            // If checkbox is checked
            if(this.checked){
                // Create a hidden element 
                $form.append(
                  $('<input>')
                      .attr('type', 'hidden')
                      .attr('name', this.name)
                      .val(this.value)
                );
            }
          } 
      });          
    });
  });
</script>
{% endblock %}