{% extends 'base.html' %}

{% block content %}

  {% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <div style="width: 20%; margin-left: 40px; padding-top: 30px;">
    <h2>Log In</h2>
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      {{ form.username.label_tag }}
      {{ form.username }}
      {{ form.password.label_tag }}
      {{ form.password }}
      <input type="submit" value="login">
      <input type="hidden" name="next" value="{{ next }}">
    </form>
  </div>
{% endblock %}