{% extends "base.html" %}

{% block content %}
<div class="container-fluid mb-5 px-2">
    <div class="row">
        <div class="col">
            <h3>Clinical Indication Panels</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-hover table-bordered shadow text-wrap text-break">
                <thead>
                  <tr>
                    <th scope="col">Clinical Indication</th>
                    <th scope="col">Panel</th>
                    <th class="col text-nowrap">PanelApp ID</th>
                    <th class="col text-nowrap">TD Version</th>
                    <th class="col text-nowrap">Config Source</th>
                    <th class="col text-nowrap">Created</th>
                    <th scope="col">Active</th>
                  </tr>
                </thead>
                <tbody>
                    {% for cip in cips %}
                  <tr>
                    <td><a href="{% url 'clinical_indication' cip.clinical_indication_id %}">{{ cip.clinical_indication_id__name }}</a> <br><span class="badge text-bg-info">{{ cip.clinical_indication_id__r_code }}</span> {% if cip.duplicate %}<span class="badge text-bg-warning">need review</span> {% endif %}</td>
                    {% if cip.panel_id__panel_version %}
                    <td><a href="{% url 'panel' cip.panel_id %}">{{ cip.panel_id__panel_name }}</a> <br> <span class="badge text-bg-info">{{ cip.panel_id__panel_version }}</span></td>
                    {% else %}
                    <td><a href="{% url 'panel' cip.panel_id %}">{{ cip.panel_id__panel_name }}</a> <br> <span class="badge text-bg-info">-</span></td>
                    {% endif %}
                    <td>{{ cip.panel_id__external_id }}</td>
                    <td>{{ cip.td_version }}</td>
                    <td>{{ cip.config_source }}</td>
                    <td>{{ cip.created.date }}</td>
                    {% if cip.pending %}
                      <td><span class="badge text-bg-warning">Pending</span></td>
                    {% else %}
                      {% if cip.current %}
                        <td><span class="badge text-bg-success">Active</span></td>
                      {% else %}
                        <td><span class="badge text-bg-danger">Inactive</span></td>
                      {% endif %}
                    {% endif %}
                  </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
</div>
{% endblock %}