{% extends "base.html" %}
{% load static %}

<!-- TODO: Revisit this page -->

{% block content %}
<div class="container mb-5">
  <div class="row">
    <div class="col">
      <h1>Genepanel</h1>
    </div>
  </div>

  <!-- Alert -->
  {% if error %}
  <div class="alert alert-danger" role="alert">
    {{ error }}
  </div>
  {% endif %}

  {% if success %}
  <div class="alert alert-success" role="alert">
    File Uploaded Successfully!
  </div>
  {% endif %}

  <img class="visually-hidden" id="hamster" src="{% static 'images/hamster-loader.gif' %}" alt="hamster"
    style="position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;z-index:999" />

  <!-- GenePanel Upload Form -->
  <div class="row mt-2">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Upload GenePanel File to DNANexus Project</h5>
          <form action="{% url 'genepanel' %}" method="POST" id="genepanelForm">
            {% csrf_token %}
            <div class="mb-3">
              <label for="projectIdInput" class="form-label">DNANexus API Token</label>
              <input type="text" class="form-control" name="dnanexus_token" aria-describedby="dnanexusTokenHelp"
                required>
              <div id="dnanexusTokenHelp" class="form-text">Get this from DNANexus Settings</div>
            </div>
            <div class="mb-3">
              <label for="projectIdInput" class="form-label">Project ID</label>
              <input type="text" class="form-control" name="project_id" aria-describedby="projectIdHelp" required>
              <div id="projectIdHelp" class="form-text">e.g. project-GV4VJ2Q46b4p7k7z7491fFZ3</div>
            </div>
            <button type="submit" class="btn btn-success">Upload
              <span class="spinner-border spinner-border-sm ml-2 visually-hidden" aria-hidden="true"></span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- GenePanel List -->
  <div class="row mt-4">
    <div class="col">
      <div class="accordion">
        {% for genepanel in genepanels %}
        <div class="accordion-item">
          <!-- Accordion header -->
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#{{genepanel.r_code}}{{genepanel.panel_version}}" aria-expanded="false"
              aria-controls="{{genepanel.r_code}}{{genepanel.panel_version}}">
              <span class="badge text-bg-primary">{{ genepanel.r_code }}</span>&nbsp;&nbsp;{{ genepanel.ci_name }}
            </button>
          </h2>
          <!-- Accordion body -->
          <div id="{{genepanel.r_code}}{{genepanel.panel_version}}" class="accordion-collapse collapse">
            <div class="accordion-body">
              <h4>
                {{ genepanel.panel_name }} v{{ genepanel.panel_version }}
              </h4>
              <div class="row">
                {% for hgnc, gene_id in genepanel.hgncs %}
                <div class="col-2 my-2">
                  <div class="card text-center">
                    <div class="card-body">
                      <a href="{% url 'gene' gene_id %}">{{ hgnc }}</a>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
              </ul>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  $(document).ready(function () {
    // script to block submit button on form submission and show loading indicator
    $('#genepanelForm').submit(function () {
      $(this).find('button[type="submit"]').prop('disabled', true);
      $(this).find('button[type="submit"]').find('.visually-hidden').removeClass('visually-hidden');
      $('#hamster').removeClass('visually-hidden');
    });
  });
</script>
{% endblock %}