{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Add Clinical Indication</h1>
    <div class="row">
        <div class="col">
            <!-- error message -->
            {% if errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {% for key, values in errors.items %}
                {% for error in values %}
                <strong>Error!</strong> {{ error }}
                {% if ci %}
                <a href="{% url 'clinical_indication' ci.id %}" target="_blank">{{ ci.name }}</a>
                {% endif %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button><br>
                {% endfor %}
                {% endfor %}
            </div>
            {% endif %}
            <!-- end error message -->

            <!-- form -->
            <form action="{% url 'ci_add' %}" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="inputRCode" class="form-label">R Code</label>
                    <input type="text" class="form-control" name="r_code" aria-describedby="inputRCodeHelp"
                        placeholder="R67.1" value="{{ r_code }}" required>
                    <div id="inputRCodeHelp" class="form-text">required</div>
                </div>
                <div class="mb-3">
                    <label for="inputName" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" aria-describedby="inputNameHelp"
                        placeholder="Monogenic hearing loss" value="{{ name }}" required>
                    <div id="inputNameHelp" class="form-text">required</div>
                </div>
                <div class="mb-3">
                    <label for="inputTestMethod" class="form-label">Test Method</label>
                    <input type="text" class="form-control" name="test_method" aria-describedby="inputTestMethodHelp"
                        placeholder="Small panel" value="{{ test_method }}">
                    <div id="inputTestMethodHelp" class="form-text">optional</div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <!-- end form -->
        </div>
    </div>
</div>
{% endblock %}