{% extends "base.html" %}

{% block content %}
<div class="container">
    <h3>Add Clinical Indication Panel Link</h3>
    <div class="row">
        <div class="col">
            <form action="{% url 'add_ci_panel' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">R Code</label>
                  <input type="text" class="form-control" name="r_code" aria-describedby="emailHelp" placeholder="R67.1" required>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Name</label>
                  <input type="text" class="form-control" name="name" placeholder="Monogenic hearing loss" required>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Test Method</label>
                    <input type="text" class="form-control" name="test_method" placeholder="Small panel">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}