{% extends "base.html" %}

{% block content %}
<div class="container mb-5 pb-5">
    <div class="row"> <!-- title -->
        <div class="col">
            <h3>History</h3>
            <h5>Showing: {{ showing }}</h5>
        </div>
    </div>
    <div class="row my-2">
        <div class="col"> <!-- form -->
            <form action="{% url 'history' %}" method="post">
                {% csrf_token %}
                <select class="form-select" aria-label="default select example" name="history selection">
                    {% if 'clinical indications' in selected %}
                        <option value="clinical indications" selected>Clinical Indications</option>
                    {% else %}
                        <option value="clinical indications">Clinical Indications</option>
                    {% endif %}
                    {% if 'panels' in selected %}
                        <option value="panels" selected>Panels</option>
                    {% else %}
                        <option value="panels">Panels</option>
                    {% endif %}
                    {% if 'clinical indication-panel' in selected %}
                        <option value="clinical indication-panel" selected>Clinical Indication-Panel</option>
                    {% else %}
                        <option value="clinical indication-panel">Clinical Indication-Panel</option>
                    {% endif %}
                    {% if 'panel-gene' in selected %}
                        <option value="panel-gene" selected>Panel-Gene</option>
                    {% else %}
                        <option value="panel-gene">Panel-Gene</option>
                    {% endif %}
                </select>
                {% if 'clinical indication-panel' in selected %}
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="changed" name="checkbox selections">
                    <label class="form-check-label" for="flexCheckDefault">
                        changed
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="created" name="checkbox selections">
                    <label class="form-check-label" for="flexCheckDefault">
                        created
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="deactivated" name="checkbox selections">
                    <label class="form-check-label" for="flexCheckDefault">
                        deactivated
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="manual review" name="checkbox selections">
                    <label class="form-check-label" for="flexCheckDefault">
                        manual review
                    </label>
                </div>
                {% endif %}
                <button type="submit" class="btn btn-primary btn-sm mt-2">Submit</button>
            </form> <!-- end form -->
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <!-- form -->
            <table class="table pt-2" id="historyTable">
                <thead class="table-success">
                    <tr>
                        {% if selected == 'clinical indication-panel' %}
                            <th class="text-nowrap">R Code</th>
                            <th>Clinical Indication</th>
                            <th>Panel Name</th>
                            <th class="text-nowrap">Panel Version</th>
                            <th class="text-nowrap">Created</th>
                            <th>Note</th>
                            <th>User</th>
                        {% elif selected == 'panels' %}
                            <th class="text-nowrap">PanelApp ID</th>
                            <th>Name</th>
                            <th>Version</th>
                            <th>Test Directory</th>
                            <th>Custom</th>
                            <th>Created</th>
                            <th>Pending</th>
                        {% elif selected == 'clinical indications' %}
                            <th class="text-nowrap">R Code</th>
                            <th>Name</th>
                            <th>Test Method</th>
                            <th>Pending</th>
                            <th>Created</th>
                        {% else %}
                            <th>Created</th>
                            <th>Note</th>
                            <th>User</th>
                            <th>Panel</th>
                            <th>Gene</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% if selected == 'clinical indication-panel' %}
                        {% for history in data %}
                        <tr>
                            <td>{{ history.clinical_indication_panel_id__clinical_indication_id__r_code }}</td>
                            <td style="max-width:20em;" class="text-wrap">
                                <a href="{% url 'clinical_indication' history.clinical_indication_panel_id__clinical_indication_id %}">{{ history.clinical_indication_panel_id__clinical_indication_id__name }}</a>
                            </td>
                            <td style="max-width:20em;" class="text-break text-wrap">
                                <a href="{% url 'panel' history.clinical_indication_panel_id__panel_id %}">{{ history.clinical_indication_panel_id__panel_id__panel_name }}</a>
                            </td>
                            {% if history.clinical_indication_panel_id__panel_id__panel_version %}
                                <td>{{ history.clinical_indication_panel_id__panel_id__panel_version }}</td>
                            {% else %}
                                <td>None</td>
                            {% endif %}
                            <td>{{ history.created }}</td>
                            <td style="max-width:20em;" class="text-wrap">{{ history.note }}</td>
                            <td style="max-width:20em;" class="text-wrap">{{ history.user }}</td>
                        </tr>
                        {% endfor %}
                    {% elif selected == 'panels' %}
                        {% for panel in data %}
                        <tr>
                            <td>{{ panel.external_id }}</td>
                            <td class="text-wrap text-break"><a href="{% url 'panel' panel.id %}">{{ panel.panel_name }}</a></td>
                            <td>{{ panel.panel_version }}</td>
                            <td>{{ panel.test_directory }}</td>
                            <td>{{ panel.custom }}</td>
                            <td>{{ panel.created }}</td>
                            <td>{{ panel.pending }}</td>
                        </tr>
                        {% endfor %}
                    {% elif selected == 'clinical indications' %}
                        {% for ci in data %}
                        <tr>
                            <td>{{ ci.r_code }}</td>
                            <td><a href="{% url 'clinical_indication' ci.id %}">{{ ci.name }}</a></td>
                            <td>{{ ci.test_method }}</td>
                            <td>{{ ci.pending }}</td>
                            <td>{{ ci.created }}</td>
                        </tr>
                        {% endfor %}
                    {% elif selected == 'panel-gene' %}
                        {% for pg in data%}
                        <tr>
                            <td>{{ pg.created }}</td>
                            <td>{{ pg.note }}</td>
                            <td>{{ pg.user }}</td>
                            <td><a href="{% url 'panel' pg.panel_gene_id__panel_id %}">{{ pg.panel_gene_id__panel_id__panel_name }}</a></td>
                            <td><a href="{% url 'gene' pg.panel_gene_id__gene_id %}">{{ pg.panel_gene_id__gene_id__hgnc_id }}</a></td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>    
            <!-- end form -->                
        </div>
    </div>   
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
        new DataTable('#historyTable');
    });
</script>
{% endblock %}